page-feed {
     h2.feed_title {
        -webkit-animation: initial;
        color:  #2E2D2D;
        animation: initial;
      }
      
   p.feed_data {
        color: #807777;
        -webkit-animation: initial;
        animation: initial;
      }
  
}
